---
naam: achternamen
kop: Achternamen
volgorde: 6
verborgen: true
---
<ol class="groups">
{%- assign gesorteerde_achternamen = site.achternamen | sort: 'kop' -%}
{%- for achternaam in gesorteerde_achternamen -%}
  <li class="group-item">
    <a class="group-header" href="{{ achternaam.url | replace: '.html', '/' }}">{{ achternaam.kop }}</a>
    {%- assign artikelen = site.artikelen | where_exp: 'artikel', 'artikel.achternamen contains achternaam.naam' -%}
    {% include artikellijst.html artikelen=artikelen %}
  </li>
{%- endfor -%}
</ol>
