---
naam: huisnummers
kop: Huisnummers
volgorde: 5
---
<ol class="groups">
{%- assign gesorteerde_huisnummers = site.huisnummers | sort: 'naam' -%}
{%- for huisnummer in gesorteerde_huisnummers -%}
  <li class="group-item">
    <a class="group-header" href="{{ huisnummer.url | replace: '.html', '/' }}">{{ huisnummer.kop }}</a>
    {%- assign artikelen = site.artikelen | where_exp: 'artikel', 'artikel.huisnummers contains huisnummer.naam' -%}
    {% include artikellijst.html artikelen=artikelen %}
  </li>
{%- endfor -%}
</ol>
