---
naam: kalender
kop: Kalender
---
<ol class="articles">
{%- assign huidig_jaar = site.time | date: "%Y" -%}
{%- assign maandgroepen = site.artikelen | group_by_exp: 'artikel', 'artikel.gepubliceerd | date: "%-m"' | sort: 'name' -%}
{%- for maandgroep in maandgroepen -%}
  {%- assign daggroepen = maandgroep.items | group_by_exp: 'artikel', 'artikel.gepubliceerd | date: "%-d"' | sort: 'name' -%}
  {%- for daggroep in daggroepen -%}
    {%- for artikel in daggroep.items -%}
      {%- assign artikel_jaar = artikel.gepubliceerd | date: '%Y' -%}
      <li class="article-item">
        <a class="article-line" href="{{ artikel.url | replace: '.html', '/'}}">
          {% include datumelement.html datum=artikel.gepubliceerd class='article-time' %}
          <span class="article-age">{{ huidig_jaar | minus: artikel_jaar }} jaar geleden</span>
          <span class="article-title">{{ artikel.kop | trim }}</span>
        </a>
      </li>
    {%- endfor -%}
  {%- endfor -%}
{%- endfor -%}
</ol>
