---
naam: nieuw
kop: Nieuw
volgorde: 3
---
{%- assign artikelen_per_toegevoegd = site.artikelen | group_by: 'toegevoegd' | sort: 'name' | reverse -%}
<ol class="groups">
{%- for artikel in artikelen_per_toegevoegd -%}
  <li class="group-item">
    {% include datumelement.html datum=artikel.name class='group-header' %}
    {% include artikellijst.html artikelen=artikel.items %}
  </li>
{%- endfor -%}
</ol>
