---
naam: onderwerpen
kop: Onderwerpen
volgorde: 4
---
<ol class="groups">
  {%- assign gesorteerde_onderwerpen = site.onderwerpen | sort: 'naam' -%}
  {%- for onderwerp in gesorteerde_onderwerpen -%}
  <li class="group-item">
    <a class="attribute group-header" href="{{ onderwerp.url | replace: '.html', '/' }}">{{ onderwerp.kop }}</a>
    {%- assign artikelen = site.artikelen | where_exp: 'artikel', 'artikel.onderwerpen contains onderwerp.naam' -%}
    {% include artikellijst.html artikelen=artikelen %}
  </li>
  {%- endfor -%}
</ol>