---
naam: tijdlijn
kop: Tijdlijn
volgorde: 2
---
<ol class="groups">
{%- for decennium in site.decennia -%}
  <li class="group-item">
    <a class="attribute group-header" href="{{ decennium.url | replace: '.html', '/' }}">{{ decennium.kop }}</a>
    {%- assign artikelen = site.artikelen | where_exp: 'artikel', 'artikel.decennium == decennium.naam' -%}
    {% include artikellijst.html artikelen=artikelen %}
  </li>
{%- endfor -%}
</ol>
