---
layout: default
naam: zoeken
kop: Zoeken
volgorde: 7
---
<h2>Zoeken</h2>
<div class="filter-block">
  <div class="filter-list">
    <div class="filter-wrapper-input">
      <input type="text" class="filter-input" name="filter-tekst" id="filter-tekst" placeholder="Zoekterm">
    </div>
    <div class="filter-wrapper-select">
      <select class="filter-select" name="filter-decennium" id="filter-decennium">
        <option value="">Alle jaren</option>
        {% for decennium in site.decennia %}
        <option value="{{ decennium.naam }}">{{ decennium.kop }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="filter-wrapper-select">
      <select class="filter-select" name="filter-huisnummer" id="filter-huisnummer">
        <option value="">Alle huisnummers</option>
        <option value="geen-huisnummer">Geen huisnummer</option>
        {%- assign gesorteerde_huisnummers = site.huisnummers | sort: 'naam' -%}
        {% for huisnummer in gesorteerde_huisnummers %}
        <option value="{{ huisnummer.naam }}">{{ huisnummer.kop }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="filter-wrapper-select">
      <select class="filter-select" name="filter-achternaam" id="filter-achternaam">
        <option value="">Alle achternamen</option>
        <option value="geen-achternaam">Geen achternaam</option>
        {%- assign gesorteerde_achternamen = site.achternamen | sort: 'kop' -%}
        {% for achternaam in gesorteerde_achternamen %}
        <option value="{{ achternaam.naam }}">{{ achternaam.kop }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="filter-wrapper-select">
      <select class="filter-select" name="filter-onderwerp" id="filter-onderwerp">
        <option value="">Alle onderwerpen</option>
        {% for onderwerp in site.onderwerpen %}
        <option value="{{ onderwerp.naam }}">{{ onderwerp.kop }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="filter-wrapper-select">
      <select class="filter-select" name="filter-onderwerp-plus" id="filter-onderwerp-plus">
        <option value="">Plus onderwerp</option>
        {% for onderwerp in site.onderwerpen %}
        <option value="{{ onderwerp.naam }}">{{ onderwerp.kop }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="filter-wrapper-select">
      <select class="filter-select" name="filter-onderwerp-min" id="filter-onderwerp-min">
        <option value="">Min onderwerp</option>
        {% for onderwerp in site.onderwerpen %}
        <option value="{{ onderwerp.naam }}">{{ onderwerp.kop }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="filter-result">
    <span class="filter-singular hidden">
      1 artikel gevonden
    </span>
    <span class="filter-plural">
      <span class="filter-count">{{ site.artikelen | size }}</span>
      artikelen gevonden
    </span>
  </div>
</div>
{% include teasers.html artikelen=site.artikelen %}