<ol class="articles">
{%- for artikel in include.artikelen -%}
  <li class="article-item">
    <a class="article-line" href="{{ artikel.url | replace: '.html', '/'}}">
      {% include datumelement.html datum=artikel.gepubliceerd class='article-time' %}
      <span class="article-title">{{ artikel.kop | trim }}</span>
    </a>
  </li>
{%- endfor -%}
</ol>
