{%- assign aantal_artikelen = include.artikelen.size | default: 0 -%}
{%- assign totaal_aantal_artikelen = site.artikelen | size -%}
{%- assign percentage_artikelen = aantal_artikelen | times: 100.0 | divided_by: totaal_aantal_artikelen | round: 1 -%}
<tr>
  <td>{% if include.rij %}<a class="attribute dashboard-link" href="{{ include.rij.url | replace: '.html', '/' }}">{{ include.rij.kop }}</a>{% else %}{{ include.rijkop }}{% endif %}</td>
  <td>{{ aantal_artikelen }}</td>
  <td>{{ percentage_artikelen }}%</td>
  <td><span class="graph-bar">{% for artikel in include.artikelen %}<a class="graph-item" href="{{ artikel.url | replace: '.html', '/'}}">▮</a>{% endfor %}</span></td>
</tr>
