<div class="dashboard-error">
  <a class="dashboard-link" href="{{ include.artikel.url | replace: '.html', '/'}}">{{ include.artikel.name | replace: '.md', '' }}</a>:
  {{ include.tekst }}{% if include.specifiek %} ({{ include.specifiek }}){% endif %}
</div>
