{%- assign aantal_artikelen = include.artikelen | size -%}
<h2>{% if aantal_artikelen == 1 %}Een artikel{% else %}Alle {{ aantal_artikelen }} artikelen{% endif %} {{ include.tussentekst }} <span class="attribute">{{ include.kop }}</span></h2>
{% include teasers.html artikelen=include.artikelen %}
