<div class="teasers {{ include.class }}">
{%- for artikel in include.artikelen -%}
  {%- assign gesorteerde_onderwerpen = artikel.onderwerpen | sort -%}
  <div class="teaser" data-onderwerpen="{{ gesorteerde_onderwerpen | jsonify | replace: '"', "'" }}" data-huisnummers="{{ artikel.huisnummers | jsonify }}" data-decennium="{{ artikel.decennium }}" data-achternamen="{{ artikel.achternamen | jsonify | replace: '"', "'" }}">
    <hr>
    <figure class="teaser-scan">
      <img class="teaser-image" src="{{ artikel.url | replace: '.html', '.jpg' }}" alt="Artikel '{{ artikel.kop }}' uit {{ page.bron }} van {% include datumtekst.html datum=page.gepubliceerd %}" loading="lazy">
    </figure>
    <div class="teaser-body">
      {{ artikel.content | markdownify }}
    </div>
    <a class="teaser-more" aria-label="Lees het hele artikel {{ artikel.kop }}" href="{{ artikel.url | replace: '.html', '/' }}">Lees het hele artikel</a>
    <div class="teaser-foot">
      {% include datumelement.html datum=artikel.gepubliceerd class='teaser-time' %}
      <div class="teaser-subjects">
        {%- for onderwerp in gesorteerde_onderwerpen -%}
        <span class="attribute">{{ site.onderwerpen | where: 'naam', onderwerp | map: 'kop' | default: '?' }}</span>{% unless forloop.last %}, {% endunless %}
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endfor -%}
</div>
