:root {
  --almost-black: #333333;
  --medium-gray: #999999;
  --light-gray: #CCCCCC;
  --bright-white: #FFFFFF;
  --bright-white-transparant: #FFFFFF00;
  --dark-blue: #062C40;
  --dark-green: #009900;
  --dark-orange: #FF6600;
  --dark-red: #CC0000;
  --highlight-red: #8C0E17;
  --streetsign-blue: #005B8C;
}

.current-page {
  color: var(--streetsign-blue);
}

@font-face {
  font-display: swap;
  font-family: "nunito";
  font-weight: bold;
  src: url(/assets/font-nunito-bold.ttf);
}

@font-face {
  font-display: swap;
  font-family: "noto";
  font-weight: normal;
  src: url(/assets/font-noto-regular.ttf);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--highlight-red);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

body {
  background-color: var(--dark-blue);
  font-family: "noto", serif;
  line-height: 1.2rem;
  margin: 0;
  padding: 0;
}

del {
  color: var(--light-gray);
}

em {
  color: var(--medium-gray);
  font-style: normal;
}

header {
  background-color: var(--bright-white);
  display: flex;
  font-size: min(5rem, 8vw);
  justify-content: space-between;
  padding: 1rem;
}

hr {
  display: none;
}

h1 {
  background-color: var(--streetsign-blue);
  border-radius: 0.25em;
  color: var(--bright-white);
  font-family: sans-serif;
  font-size: 1em;
  height: 1.8em;
  line-height: 1.7em;
  margin: 0;
  position: relative;
  text-align: center;
  width: 8.6em;

  &:after {
    border: 0.1em solid var(--bright-white);
    border-radius: 0.2em;
    content: "";
    height: 1.4em;
    left: 0;
    margin: 0.1em;
    position: absolute;
    width: 8.2em;
  }
}

h2 {
  color: var(--bright-white);
  font-family: "nunito", sans-serif;
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 0 2rem;
}

h3 {
  color: var(--streetsign-blue);
  font-family: "nunito", sans-serif;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0 0 0.5rem;
}

h4 {
  font-family: "nunito", sans-serif;
  font-size: 1.2rem;
}

main {
  padding: 2rem;
}

p {
  text-align: justify;
}

strong {
  color: var(--streetsign-blue);
  font-weight: inherit;
}

table {
  border-collapse: collapse;
  text-align: left;
}

td {
  padding: 0 0.5rem 0 0;
  white-space: nowrap;

  &:nth-child(2), &:nth-child(3) {
    text-align: right;
  }
}

thead {
  border-bottom: 0.1rem solid var(--bright-white);
}

.article-age {
  text-align: right;
  width: 8rem;
}

.article-caption {
  border: 0.1rem solid var(--medium-gray);
  border-radius: 0.5rem;
  color: var(--medium-gray);
  display: flex;
  font-family: "nunito", sans-serif;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0.5rem;
}

.article-description-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-description-list {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.article-image {
  border-radius: 0.5rem;
  display: block;
  height: auto;
  width: 100%;
}

.article-line {
  display: flex;
  gap: 1rem;
}

.article-related {
  margin-top: 2rem;
}

.article-scan {
  float: right;
  margin: 0 0 1rem 2rem;
  width: max(40%, 20rem);
  max-width: 100%;
}

.article-time {
  color: var(--almost-black);
  flex-shrink: 0;
  text-align: right;
  width: 6rem;

  &:hover {
    color: inherit;
  }
}

.articles {
  line-height: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 100%;
}

.attribute {
  text-transform: uppercase;
}

.content {
  background-color: var(--bright-white);
  border-radius: 1rem;
  color: var(--almost-black);
  overflow: auto;
  padding: 1rem;
}

.dashboard-error {
  background-color: var(--dark-red);
  border-radius: 0.5rem;
  color: var(--bright-white);
  font-family: "nunito", sans-serif;
  margin: 1rem 0;
  padding: 0.5rem;
}

.dashboard-message {
  background-color: var(--medium-gray   );
  border-radius: 0.5rem;
  color: var(--bright-white);
  font-family: "nunito", sans-serif;
  margin: 1rem 0;
  padding: 0.5rem;
}

.dashboard-link {
  color: inherit;
  text-decoration: underline;
}

.filter-block {
  font-family: "nunito", sans-serif;
}

.filter-list {
  color: var(--streetsign-blue);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 2rem 0 1rem;
  max-width: 30rem;
}

.filter-input {
  appearance: none;
  border-radius: 0.3rem;
  border-width: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 0.5rem 0 2em;
  width: 28.5rem;
}

.filter-result {
  color: var(--bright-white);
  margin: 1rem 0 2rem;
}

.filter-select {
  appearance: none;
  border-radius: 0.3rem;
  border-width: 0;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: 2.5rem;
  padding: 0 0.5rem 0 2em;
  width: 14rem;
}

.filter-wrapper-input {
  position: relative;

  &:before {
    content: "…";
    left: 0.5rem;
    pointer-events: none;
    position: absolute;
    top: 0.5rem;
  }
}

.filter-wrapper-select {
  position: relative;

  &:before {
    content: "▼";
    left: 0.5rem;
    pointer-events: none;
    position: absolute;
    top: 0.8rem;
  }
}

.graph-bar {
  letter-spacing: -0.4rem;
}

.graph-item {
  color: inherit;
}

.group-header {
  font-family: nunito, sans-serif;
  font-size: 2rem;
  line-height: 3rem;
}

.group-item {
  margin-bottom: 1rem;
}

.groups {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.list-heading {
  color: var(--light-gray);
  font-family: "nunito", sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.logo {
  border-radius: 0.5rem;
  height: 1.8em;
  object-fit: contain;
}

.tab {
  color: inherit;
  display: inline-block;
  padding: 0 1rem;

  &.tabchosen, &:hover {
    background-color: var(--dark-blue);
    color: inherit;
    text-decoration: none;
  }
}

.tabs {
  background-color: var(--highlight-red);
  color: var(--bright-white);
  display: flex;
  flex-wrap: wrap;
  font-family: "nunito", sans-serif;
  font-size: 0.8rem;
  line-height: 2.5rem;
  overflow-x: scroll;
  padding: 0 1.5rem;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.teasers {
  align-items: flex-start;
  column-width: 20rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.teaser {
  background-color: var(--bright-white);
  border-radius: 0.5rem;
  break-inside: avoid-column;
  color: var(--almost-black);
  flex-grow: 1;
  width: 20rem;

  &:hover {
    .teaser-image {
      transform: scale(1.1);
    }

    .teaser-more {
      text-decoration: underline;
    }
  }
}

.teaser-body {
  margin: 1rem 1rem 0;
  max-height: 15rem;
  overflow: hidden;
  position: relative;

  &:after {
    background: linear-gradient(to bottom, var(--bright-white-transparant), var(--bright-white) 90%);
    bottom: 0;
    content: "";
    height: 6rem;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.teaser-foot {
  background-color: var(--highlight-red);
  border-radius: 0 0 0.5rem 0.5rem;
  color: var(--light-gray);
  display: flex;
  font-family: "nunito", sans-serif;
  font-size: 0.8rem;
  gap: 1rem;
  justify-content: space-between;
  line-height: 2rem;
  padding: 0 1rem;
  white-space: nowrap;
}

.teaser-image {
  display: block;
  max-height: 15rem;
  object-fit: cover;
  object-position: top;
  transition: transform 0.5s;
  width: 100%;
}

.teaser-more {
  display: block;
  margin: 0.5rem;
  text-align: center;
}

.teaser-scan {
  border-radius: 0.5rem 0.5rem 0 0;
  margin: 0;
  overflow: hidden;
}

.teaser-subjects {
  overflow: hidden;
}