---
layout: default
---
<h2>Artikel uit {{ page.bron }} van {% include datumelement.html datum=page.gepubliceerd %}</h2>
<div class="content">
  <figure class="article-scan">
    <img class="article-image" src="{{ page.url | replace: '.html', '.jpg' }}" alt="Artikel '{{ page.kop }}' uit {{ page.bron }} van {% include datumtekst.html datum=page.gepubliceerd %}" loading="lazy">
    <figcaption class="article-caption">
      <ul class="article-description-list">
        <li class="article-description-item">
          bron:
          {{ page.bron }}
        </li>
        <li class="article-description-item">
          datum:
          {% include datumtekst.html datum=page.gepubliceerd %}
        </li>
        <li class="article-description-item">
          link:
          <a href="{{ page.externelink }}">{{ page.externelink }}</a>
        </li>
        <li class="article-description-item">
          onderwerpen:
          {% if page.onderwerpen %}
          {%- for onderwerp in page.onderwerpen -%}
          <a class="attribute" href="{{ site.onderwerpen | where: 'naam', onderwerp | map: 'url' | first | replace: '.html', '/' }}">{{ site.onderwerpen | where: 'naam', onderwerp | map: 'kop' | first }}</a>{% unless forloop.last %}, {% endunless %}
          {%- endfor -%}
          {%- else -%}
          (geen)
          {%- endif -%}
        </li>
        <li class="article-description-item">
          huisnummers:
          {% if page.huisnummers %}
          {%- for huisnummer in page.huisnummers -%}
          <a class="attribute" href="{{ site.huisnummers | where: 'naam', huisnummer | map: 'url' | first | replace: '.html', '/' }}">{{ site.huisnummers | where: 'naam', huisnummer | map: 'kop' | first }}</a>{% unless forloop.last %}, {% endunless %}
          {%- endfor -%}
          {%- else -%}
          (geen)
          {%- endif -%}
        </li>
        <li class="article-description-item">
          achternamen:
          {% if page.achternamen %}
          {%- for achternaam in page.achternamen -%}
          <a class="attribute" href="{{ site.achternamen | where: 'naam', achternaam | map: 'url' | first | replace: '.html', '/' }}">{{ site.achternamen | where: 'naam', achternaam | map: 'kop' | first }}</a>{% unless forloop.last %}, {% endunless %}
          {%- endfor -%}
          {%- else -%}
          (geen)
          {%- endif -%}
        </li>
        <li class="article-description-item">
          toegevoegd:
          {% include datumtekst.html datum=page.toegevoegd %}
        </li>
      </ul>
    </figcaption>
  </figure>
  <div class="article-body">
    {{ page.content | markdownify }}
  </div>
</div>
<div class="article-related">
  {%- assign gerelateerde_artikelen = '' | split: ',' -%}
  {%- for onderwerp in page.onderwerpen -%}
    {%- assign artikelen_over_dit_onderwerp = site.artikelen | where_exp: 'artikel', 'artikel.onderwerpen contains onderwerp' | where_exp: 'artikel', 'artikel.url != page.url' -%}
    {%- assign gerelateerde_artikelen = gerelateerde_artikelen | push: artikelen_over_dit_onderwerp -%}
  {%- endfor -%}
  {%- for huisnummer in page.huisnummers -%}
    {%- assign artikelen_over_dit_huisnummer = site.artikelen | where_exp: 'artikel', 'artikel.huisnummers contains huisnummer' | where_exp: 'artikel', 'artikel.url != page.url' -%}
    {%- assign gerelateerde_artikelen = gerelateerde_artikelen | push: artikelen_over_dit_huisnummer -%}
  {%- endfor -%}
  {%- for achternaam in page.achternamen -%}
    {%- assign artikelen_over_deze_achternaam = site.artikelen | where_exp: 'artikel', 'artikel.achternamen contains achternaam' | where_exp: 'artikel', 'artikel.url != page.url' -%}
    {%- assign gerelateerde_artikelen = gerelateerde_artikelen | push: artikelen_over_deze_achternaam -%}
  {%- endfor -%}
  {%- assign gerelateerde_artikelen = gerelateerde_artikelen | uniq | sort: 'name' -%}
  <div class="list-heading">Met {{ gerelateerde_artikelen | size }} gerelateerde artikelen</div>
  {% include teasers.html artikelen=gerelateerde_artikelen %}
</div>