<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="content-security-policy" content="base-uri 'none'; default-src 'none'; font-src 'self'; img-src 'self'; script-src 'self'; style-src 'self'; connect-src 'self'">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Artikelen over de Jan Sonjéstraat uit oude (regionale) kranten en privéverzamelingen van (ex-)bewoners - {{ page.kop }}">
    <title>Jan Sonjéstraat</title>
    <link rel="canonical" href="{{ page.url | replace: '.html', '/' | prepend: site.domain | absolute_url }}">
    <link rel="icon" href="{{ site.static_files | where: 'name', 'favicon.ico' | map: 'path' | first }}">
    <link rel="stylesheet" href="{{ site.static_files | where: 'name', 'stylesheet.css' | map: 'path' | first }}?{{ site.time | date: '%s' }}">
    <script defer src="{{ site.static_files | where: 'name', 'javascript.js' | map: 'path' | first }}?{{ site.time | date: '%s' }}"></script>
  </head>
  <body>
    <header>
      <h1>Jan Sonjéstraat</h1>
      <a href="{{ site.overzichten | where: 'naam', 'dashboard' | map: 'url' | first | replace: '.html', '/' }}"><img class="logo" src="{{ 'logo-jan-sonjestraat-klein.jpg' | prepend: '/assets/' }}" alt="Logo Jan Sonjéstraat"></a>
    </header>
    <nav class="tabs">
      {%- assign tabs = site.overzichten | where_exp: 'overzicht', 'overzicht.volgorde > 0' | sort: 'volgorde' -%}
      {%- for tab in tabs -%}
      <a class="tab{% if page.kop == tab.kop %} tabchosen{% endif %}" href="{{ tab.url | replace: '.html', '/' }}">{{ tab.kop }}</a>
      {%- endfor -%}
      <a class="tab" href="mailto:{{ site.email }}">contact</a>
    </nav>
    <main>
      {{ content }}
    </main>
  </body>
</html>
